# exclude all folders except core/src/, android/assets/ and build.gradle files
desktop/*
!desktop/build.gradle
!desktop/build/libs
html
!html/build.gradle
ios
!ios/build.gradle
core/*
!core/src
!core/build.gradle
android/*
!android/assets
!core/build.gradle
gradle
.gradle
.idea
build

# exclude .DS_Store files
*.DS_Store

# exclude other files
gradle.properties
gradlew
gradlew.bat
local.properties
*.iml
settings.gradle
